.page-template-blog .pld-like-dislike-wrap{
  display: none;
}
.h1_a{
  font-size: 17px;
}

h2.entry-title{
  font-weight: normal;
  font-size: 38px;
  font-family: $fmed;
  margin-top: 0;
}
.featured-media-inner{
  text-align: center;
  img{
    border-radius: 10px;
    overflow: hidden;
  }
}

.content{
  h6{
    font-size: 22px;
    line-height: 30px;
    font-family: $fmed;
    font-weight: normal;
  }
  img.size-full{
    border-radius: 10px;
    overflow: hidden;
  }
}
.divide-2-1_left a, .h1_a{
  color: #000;
  border-bottom: 1px solid #0bbc93;
  text-decoration: none;
}

.featured-media-inner img{
  max-width: 100%;
  height: auto;
}

.blogs-item{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  .blogs-item__img{
    margin-right: 40px;
    a{
      width: 245px;
      display: block;
      border-bottom: none;
    }
    img{
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  .blogs-item__heading{
    font-family: $fmed;
    font-size: 32px;
    line-height: 42px;
    a{
      color: #000;
      border-bottom: 2px solid #0bbc93;
      text-decoration: none;
      &:hover{
        border-bottom-color: rgba(#000, 0.2);
      }
    }
  }
  .blogs-item__desc{
    display: flex;
    flex-direction: column;
  }
  .blogs_item__text{
    h6{
      margin-top: 17px;
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 25px;
      font-weight: normal;
      font-family: $freg;
    }
  }
  .read-more-button-wrap{
    display: none;
  }
}
.blogs-item__more_w a{
  &:hover{
    border-bottom-color: rgba(#000, 0.2);
  }
}
#map{
  height: 540px;
  width: 100%;
  margin-bottom: -75px;
}
.page-template-contacts .map_bubble{
  position: absolute;
  left: 0;
  top: 40px;
  max-width: 500px;
  background: #fff;
  z-index: 99;
  border-radius: 10px;
  padding: 20px;
  .heading{
    font-size: 29px;
    b{
      font-weight: normal;
      font-family: $fmed;
    }
  }
  a{
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #0bbc93;
  }
  .selector{
    display: block;
    margin: 20px 0;
  }
  .selector-title{
    background: #f2f4f5;
    border-radius: 4px;
    padding: 18px;
    text-align: center;
    span{
      font-size: 17px;
      border-bottom: 2px dotted #0bbc93;
    }
  }

  .title{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .tel{
    font-family: $fmed;
    font-size: 15px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;
    &:before{
      content: '';
      display: block;
      position: absolute;
      background: url("../img/ico-tel.svg") 0 0 no-repeat;
      width: 17px;
      height: 17px;
      background-size: contain;
      left: 0;
      top: 0;
    }
    a{
      border-bottom: none;
    }
  }
  .email{
    font-family: $fmed;
    font-size: 15px;
    position: relative;
    padding-left: 30px;
    &:before{
      content: '';
      display: block;
      position: absolute;
      background: url("../img/ico-mail.svg") 0 0 no-repeat;
      width: 18px;
      height: 14px;
      background-size: contain;
      left: 0;
      top: 2px;
    }
    a{
      border-bottom: 2px solid #0bbc93;
    }
  }
  .address_wrapper{
    display: flex;
    flex-direction: row;
    .pic{
      margin-right: 20px;
      img{
        border-radius: 5px;
        overflow: hidden;
      }
    }
    .address{
      padding-top: 5px;
    }
  }
}

.content .about{

}

@media (min-width: 661px) and (max-width: 1024px){
  h1{
    font-size: 35px;
    text-align: center;
  }
  .blogs-item .blogs-item__heading{
    font-size: 28px;
    line-height: 33px;
  }
  h2.entry-title{
    font-size: 31px;
    line-height: 36px;
  }
  .page-template-contacts .map_bubble{
    position: relative;
    margin: 0 auto -150px;
    top: auto;
    box-shadow: 0 1px 10px rgba(#000,0.2);
    max-width: 650px;
  }
  .page-template-contacts .map_bubble .heading{
    font-size: 22px;
    text-align: center;
  }
  .page-template-contacts .map_bubble .address_wrapper{
    flex-direction: row;
  }
  .page-template-contacts .map_bubble .address_wrapper .pic{

    text-align: center;
  }
}

@media (max-width: 660px) {
  .page-blog{
    .breadcrumbs{
      margin-top: 20px;
    }
  }
  .blogs-item .blogs-item__heading{
    font-size: 19px;
    line-height: 22px;
    margin-top: 10px;
  }
  .blogs-item .blogs-item__img{
    margin-right: 20px;
  }
  .blogs-item .blogs-item__img a{
    width: 200px;
  }
  h2.entry-title{
    font-size: 22px;
    line-height: 28px;
  }
  h1{
    font-size: 27px;
    text-align: center;
  }
  .h1_a{
    font-size: 14px;
  }
  figure.wp-caption{
    width: 100% !important;
    margin: 0 auto;
    img{
      max-width: 100%;
      height: auto;
    }
  }
  .wp-caption-text{
    font-size: 12px;
  }
  .content h6{
    font-size: 17px;
    line-height: 22px;
    margin: 10px 0;
  }
  .page-template-contacts .map_bubble{
    position: relative;
    margin: 0 auto;
    top: auto;
    box-shadow: 0 1px 10px rgba(#000,0.2);
  }
  .page-template-contacts .map_bubble .heading{
    font-size: 22px;
    text-align: center;
  }
  .page-template-contacts .map_bubble .address_wrapper{
    flex-direction: column;
  }
  .page-template-contacts .map_bubble .address_wrapper .pic{
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .blogs-item{
    flex-direction: column;
  }
  .blogs-item .blogs-item__img{
    margin-right: 0;
  }
  .blogs-item .blogs-item__heading{
    font-size: 19px;
    line-height: 25px;
    margin-top: 10px;
  }
  .blogs-item .blogs-item__img a{
    width: 100%;
  }
}
