@font-face {
  font-family: Stem-Regular;
  src: url(../fonts/Stem-Regular.eot);
  src: url(../fonts/Stem-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Stem-Regular.woff2) format("woff"), url(../fonts/Stem-Regular.ttf) format("truetype"), url(../fonts/Stem-Regular.svg#Stem-Regular) format("svg");
}

@font-face {
  font-family: Stem-Medium;
  src: url(../fonts/Stem-Medium.eot);
  src: url(../fonts/Stem-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Stem-Medium.woff2) format("woff"), url(../fonts/Stem-Medium.ttf) format("truetype"), url(../fonts/Stem-Medium.svg#Stem-Medium) format("svg");
}
