input[type=text],
input[type=email],
input[type=tel],
textarea,
button,
a{
  &:focus, &:active {
    outline: none !important;
  }
}

.form {
  input[type=text],
  input[type=email],
  input[type=tel] {
    width: 252px;
    height: 55px;
    background: #fff;
    color: #000;
    font-size: 18px;
    padding: 15px;
    border: none;
    margin: 0;
    border-radius: 3px;


  }

  input[type=submit] {
    cursor: pointer;
  }

  .btn {
    font-size: 20px;
    font-family: $fmed;
  }
}

.inline-form {
  display: flex;

  input[type=text] {
    border-radius: 3px 0 0 3px;
  }

  input[type=tel] {
    border-radius: 0;
    border-left: 1px solid #ccc;
  }
}

.form--wrap .btn-secondary{
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}
.or_w {
  text-align: center;
  margin-bottom: 10px;
}
span.or {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  font-size: 15px;
}
span.or:before, span.or:after {
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.35);
  position: absolute;
}
span.or:before {
  left: -45px;
  top: 13px;
}
span.or:after {
  left: 198px;
  top: 13px;
}
.form--wrap .dashed {
  background: rgba(85, 103, 130, 0.6);
  border: 2px dotted #c5c5c5;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
  align-items: center;
}


.form--wrap .form .f_line span {
  width: 100%;
}

.form--wrap .form .f_line span.your-message {
  width: 100%;
}

.form--wrap .form .f_line input[type=text],
.form--wrap .form .f_line input[type=tel] {
  width: 100%;
}

.form--wrap .form .f_line input[type=tel] {
  font-size: 15px;
  padding: 10px;
  height: 45px;
}

.form--wrap .form .f_line span:first-child input[type=text] {
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #ccc;
}

.form--wrap .form .f_line span:last-child input[type=tel] {
  border-radius: 0 3px 3px 0;
}

.form--wrap{
  h2{
    color: #fff;
    margin: 0;
    padding: 15px 0 0 15px;
  }
}
#catalogpopupform{
  padding: 20px;
  .form--wrap .form .f_line span.your-message{
    line-height: 0;
  }
  .form--wrap .form .f_line textarea{
    margin-bottom: 0;
  }
  .form--wrap .form .f_line input[type=submit]{
    margin-top: 0;
  }
}
.wpcf7-submit {
  padding: 8px 17px;
  text-decoration: none;
  border: 2px solid;
  border-radius: 3px;
  font-family: Stem-Medium, sans-serif;
  font-size: 16px;
  word-break: keep-all;
  display: inline-block;
  transition: all .2s;
  overflow: hidden;
  position: relative;
  color: #fff;
  background: #0bbc93 !important;
  border-color: #0bbc93;
}

.wpcf7-submit:hover {
  background: #40cdad !important;
  border-color: #40cdad;
  transition: all .2s;
}

.form--wrap .form .f_line {
  position: relative;
}

div.wpcf7 .ajax-loader {
  position: absolute;
  width: 16px !important;
  right: 10px;
  top: 30px;
}

.form p {
  margin: 0;
}

.wpcf7-response-output {
  font-size: 13px;
  margin: 10px 0 0;
}

.form--wrap .form .f_line input[type=text].wpcf7-not-valid,
.form--wrap .form .f_line input[type=tel].wpcf7-not-valid,
.form--wrap .form .f_line input[type=email].wpcf7-not-valid {
  background-color: #f3a9a9;
}

.wpcf7-not-valid-tip {
  display: none !important;
}

.form--wrap .form .f_line textarea {
  height: 90px;
}

input[type=submit] {
  &:focus, &:active {
    outline: none;
  }
}


.whitebg{
  background: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  .heading{
    font-family: $fmed;
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.form--wrap:before{
  pointer-events: none;
}
#printtable{
  position:fixed; left: -9999px;top:0;
}
#restable, #printtable{
  width: 100%;
  max-width: 980px;
  min-width: 980px;
  table{
    border-collapse: collapse;
    width: 100%;
    min-width: 980px;
  }
  tr{
    border-bottom: 1px solid #ccc;
    &:last-child{
      border-bottom: none;
    }
    &:nth-child(2n){
      td{
        background: #F2F4F5;
      }
    }
  }
  td{
    border: none;
    font-size: 18px;
    padding: 20px;
  }
  .col1{

  }
  .col2{
    font-family: $fmed;
  }
  .col3{
    white-space: nowrap;
    .izm{
      font-size: 15px;
      color: #5D687A;
    }
  }
  .col4{
    white-space: nowrap;
    .sum{
      display: inline-block;
      margin-right: 10px;
      font-size: 15px;
      color: #5D687A;
    }
  }
  .totalsum{
    background: #fff !important;
    text-align: right;
    font-size: 36px;
    font-family: $fmed;
    div{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      .yellow-rounded{
        margin-right: 10px;
      }
    }
  }
}

#popupform{
  .form--wrap .form .f_line input[type=submit]{
    margin-top: 0;
  }
}

#print, #print_all{
  background: #617791;
  color: #fff;
  border: 2px solid #dde1e8;

  &:hover{
    background: rgba(#617791,0.7);
  }
}
#print_all{
  margin-left: 10px;
  border: 2px solid #617791;
}
@media (max-width: 990px){
  #restable td {
    font-size: 16px;
    padding: 10px;
  }
  #restable .totalsum{
    font-size: 26px;
  }
  .whitebg .heading{
    font-size: 30px;
  }
}
@media (max-width: 990px) {
  #restable td{
    display: block;
  }
}
