.main-page--categories-wrapper {
  position: relative;
  padding-bottom: 80px;
  z-index: 9;

  .in {
    z-index: 2;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: -100px;
    right: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 0;
    transform: skewY(5deg);
    transform-origin: top right;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: -100px;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 0;
    transform: skewY(-5deg);
    transform-origin: top left;
  }
}

.main-page--categories_title {
  font-family: $fmed;
  font-size: 38px;
  margin-top: 17px;
  line-height: 45px;
  margin-bottom: 25px;
}

.categories--btn-custom_wrapper {

}

.categories--btn-custom {
  color: #000;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 14px 20px 12px;
  border-radius: 7px;
  position: relative;
  transition: 0.2s all;
  background: #f9d564;

  &:after {
    position: absolute;
    content: '';
    display: block;
    right: 20px;
    top: 23px;
    transition: 0.2s right;
    width: 35px;
    height: 21px;
    background: url('/img/black-arr-right.svg') 0 0 no-repeat;
  }

  &:hover {
    border-color: #0bbc93;
    transition: 0.2s all;

    &:after {
      right: 14px;
      transition: 0.2s right;
    }
  }

  .span-block {
    width: 70px;
    display: block;
    border-bottom: none;
  }

  span {
    border-bottom: 1px solid rgba(#000, 0.4);
  }
}

.cat-block {
  padding: 20px 30px 30px;
  position: relative;
  border-radius: 10px;
  background: #f7f7f8;
  height: 231px;
  cursor: pointer;
  display: block;
  overflow: hidden;
  text-decoration: none;

  .title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $fmed;
    border-bottom: 2px solid #0bbc93;
    color: #000;
    transition: 0.2s all;
  }

  &.d-col-3 {
    height: 495px;
  }

  .pic {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(1);
    transition: 0.2s all;
    background-size: contain;
  }

  &:hover {
    .pic {
      transform: scale(1.1);
      transition: 0.2s all;
    }

    .title {
      border-bottom-color: #000;
      transition: 0.2s all;
    }
  }
}

.pic-condensator {
  width: 345px;
  height: 429px;
  background: url('/img/cats/mpcat-26.png') 0 0 no-repeat;
}

.pic-tranzistor {
  width: 173px;
  height: 165px;
  background: url('/img/cats/mpcat-27.png') 0 0 no-repeat;
}

.pic-rezistor {
  width: 309px;
  height: 165px;
  background: url('/img/cats/mpcat-32.png') 0 0 no-repeat;
}

.pic-microshema {
  width: 288px;
  height: 179px;
  background: url('/img/cats/mpcat-28.png') 0 0 no-repeat;
}

.pic-potenziometr {
  width: 174px;
  height: 164px;
  background: url('/img/cats/mpcat-31.png') 0 0 no-repeat;
}

.pic-diod {
  width: 172px;
  height: 200px;
  background: url('/img/cats/cats-08.svg') 0 0 no-repeat;
}

.pic-pereklyuchateli {
  width: 201px;
  height: 179px;
  background: url('/img/cats/mpcat-29.png') 0 0 no-repeat;
}

.pic-lampy {
  width: 188px;
  height: 179px;
  background: url('/img/cats/mpcat-30.png') 0 0 no-repeat;
}


.block-hts {
  position: relative;
  top: -110px;
  padding-top: 110px;
  margin-bottom: -90px;
  color: #fff;
  background: #0fc097;

  h1 {
    text-align: center;
    margin-bottom: 8px;
  }

  .h1_desc {
    font-size: 18px;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .hts-3-blocks {
    justify-content: space-around;
    margin-top: 40px;

    .title {
      font-size: 16px;
      font-family: $fmed;
      text-transform: uppercase;
      text-align: center;
      padding: 0 30px;
    }

    .btn-group {
      text-align: center;
      margin-top: 20px;

      .btn {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .custom-size--left {
      width: 441px;

      .pic {
        margin-top: 58px;
      }
    }

    .custom-size--middle {
      width: 437px;

      .pic {
        margin-top: 25px;
        text-align: center;
        line-height: 0;
      }
    }

    .custom-size--right {
      width: 441px;

      .pic {
        margin-top: 40px;
      }
    }
  }

  .cont2 {
    padding-bottom: 50px;

    .swiper-pagination {
      top: auto;
    }
  }

  .cont2 .swiper-slide > div {
    background: rgba(#40cdad, 1);
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 0 0;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
  }
}

.block-hts .hts-3-blocks .custom-size--left,
.block-hts .hts-3-blocks .custom-size--middle,
.block-hts .hts-3-blocks .custom-size--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
}

.block-hts .hts-3-blocks img {
  max-width: 100%;
}

.block-hts .hts-3-blocks .swiper-pagination {
  bottom: 20px !important;
}


.block-process {
  margin-bottom: 80px;

  h1 {
    text-align: center;
  }

  .flex {
    justify-content: space-between;
  }

  .title {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: $fmed;
    margin-bottom: 6px;
  }

  .fr4 {
    width: 466px;
    padding: 135px 40px 0;
    position: relative;

    &:before {
      content: '';
      display: block;
      background-size: contain;
      position: absolute;
      left: 50%;
    }
  }

  .desc {
    font-size: 15px;
  }

  .block-process-1 {
    &:before {
      width: 85px;
      height: 84px;
      background: url('/img/proc-pic-1.svg') 0 0 no-repeat;
      margin-left: -42px;
      top: 20px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 284px;
      height: 35px;
      background: url('/img/long-arr.svg') 0 0 no-repeat;
      background-size: contain;
      top: 40px;
      right: -35%;
    }
  }

  .block-process-2 {
    &:before {
      width: 135px;
      height: 87px;
      background: url('/img/proc-pic-2.svg') 0 0 no-repeat;
      margin-left: -67px;
      top: 20px;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 284px;
      height: 35px;
      background: url('/img/long-arr.svg') 0 0 no-repeat;
      background-size: contain;
      top: 40px;
      right: -35%;
    }
  }

  .block-process-3 {
    &:before {
      width: 109px;
      height: 83px;
      background: url('/img/proc-pic-3.svg') 0 0 no-repeat;
      margin-left: -55px;
      top: 20px;
    }
  }
}


.main-page--blog {
  .flex {
    justify-content: space-between;
    padding: 35px 40px 35px 35px;
    position: relative;

    & > div {
      margin-right: 25px;
      flex: 1 1 100%;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .blog--title {
    color: #fff;
    max-width: 200px;

    h2 {
      font-size: 38px;
      margin-top: 5px;
      margin-bottom: 13px;
    }
  }

  .btn-custom {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgba(#dde1e8, 1);
    width: 100%;
    padding: 14px 20px 12px;
    border-radius: 7px;
    position: relative;
    transition: 0.2s all;

    &:after {
      position: absolute;
      content: '';
      display: block;
      right: 15px;
      top: 13px;
      transition: 0.2s right;
      width: 35px;
      height: 21px;
      background: url('/img/white-arr-right.svg') 0 0 no-repeat;
    }

    &:hover {
      background: #617791;
      transition: 0.2s all;

      &:after {
        right: 10px;
        transition: 0.2s right;
      }
    }

    .span-block {
      display: block;
      border-bottom: none;
    }

    span {
      border-bottom: 1px solid rgba(#000, 0.4);
    }
  }

  .blog--item {
    background: #fff;
    border-radius: 10px;
    transition: 0.3s all;

    .pic {
      display: inline-block;
      height: 216px;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
    }

    a {
      text-decoration: none;
    }

    .padded {
      padding: 25px;
      display: inline-block;
    }

    .title {
      font-size: 22px;
      font-family: $fmed;
      color: #000;
      border-bottom: 2px solid #0bbc93;
      line-height: 28px;
    }

    .desc {
      color: #000;
      font-size: 15px;
      display: inline-block;
      margin-top: 10px;
    }

    &:hover {
      .title {
        border-color: #000;
        transition: 0.3s all;
      }
    }
  }
}


.form--wrap .form .f_line span {
  width: 50%;
}

.form--wrap .form .f_line span.your-message {
  width: 100%;
}

.form--wrap .form .f_line input[type=text],
.form--wrap .form .f_line input[type=tel] {
  width: 100%;
}

.form--wrap .form .f_line input[type=tel] {
  font-size: 15px;
  padding: 10px;
  height: 45px;
}

.form--wrap .form .f_line span:first-child input[type=text] {
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #ccc;
}

.form--wrap .form .f_line span:last-child input[type=tel] {
  border-radius: 0 3px 3px 0;
}

.wpcf7-submit {
  padding: 8px 17px;
  text-decoration: none;
  border: 2px solid;
  border-radius: 3px;
  font-family: Stem-Medium, sans-serif;
  font-size: 16px;
  word-break: keep-all;
  display: inline-block;
  transition: all .2s;
  overflow: hidden;
  position: relative;
  color: #fff;
  background: #0bbc93 !important;
  border-color: #0bbc93;
}

.wpcf7-submit:hover {
  background: #40cdad !important;
  border-color: #40cdad;
  transition: all .2s;
}

.form--wrap .form .f_line {
  position: relative;
}

div.wpcf7 .ajax-loader {
  position: absolute;
  width: 16px !important;
  right: 10px;
  top: 30px;
}

.form p {
  margin: 0;
}

.wpcf7-response-output {
  font-size: 13px;
  margin: 10px 0 0;
}

.form--wrap .form .f_line input[type=text].wpcf7-not-valid,
.form--wrap .form .f_line input[type=tel].wpcf7-not-valid,
.form--wrap .form .f_line input[type=email].wpcf7-not-valid {
  background-color: #f3a9a9;
}

.wpcf7-not-valid-tip {
  display: none !important;
}

.form--wrap .form .f_line textarea {
  height: 90px;
}

input[type=submit] {
  &:focus, &:active {
    outline: none;
  }
}

.fancybox-content {
  background: transparent !important;
}

.fancybox-button svg {
  width: 150%;
  height: 150%;
}

.fancybox-slide--html .fancybox-close-small {
  background: #fff;
  border-radius: 50%;
  opacity: 1;
}

.fancybox-content {
  .form--wrap .form .f_line .your-name, .form--wrap .form .f_line .your-tel {
    width: 100%;
  }
}

#callback {
  .form--wrap .form .f_line .your-name input {
    border-radius: 3px 3px 0 0;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  .form--wrap .form .f_line .your-tel input {
    border-radius: 0 0 3px 3px;
  }

}


.main-page-map {
  padding-top: 35px;

  .in {
    z-index: 3;
  }

  h1 {
    text-align: center;
    font-weight: normal;
    font-family: $freg;
  }

}

.main-page-map--selector {
  position: relative;
  z-index: 1;

  .selector-title {
    font-size: 50px;
    background: url('/img/ico-dd-dark.svg') right 34px no-repeat;
    background-size: 14px 10px;
    padding-right: 29px;
    font-family: $fmed;

    span {
      color: #000;
    }
  }

  .selector-dd {
    top: 25px;
  }
}

.map {
  position: relative;
  z-index: 1;
}

.main-page-map .map_bubble {
  width: 290px;
  color: #444c56;
  background: #fff;
  box-shadow: 0 5px 10px rgba(#000, 0.2);
  margin: 20px auto 0;
  position: absolute;
  right: 10%;
  z-index: 12;
  border-radius: 10px;
  .pic{
    line-height: 0;
  }
  .desc {
    padding: 15px 15px 25px;
  }

  a {
    color: #444c56;
    text-decoration: none;
  }

  .title {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .tel {
    font-family: $fmed;
    font-size: 15px;
    padding-left: 30px;
    position: relative;
    margin-bottom: 10px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: url("../img/ico-tel.svg") 0 0 no-repeat;
      width: 17px;
      height: 17px;
      background-size: contain;
      left: 0;
      top: 5px;
    }
  }

  .email {
    font-family: $fmed;
    font-size: 15px;
    position: relative;
    padding-left: 30px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      background: url("../img/ico-mail.svg") 0 0 no-repeat;
      width: 18px;
      height: 14px;
      background-size: contain;
      left: 0;
      top: 5px;
    }

    a {
      border-bottom: 2px solid #0bbc93;
    }
  }
}

a.big-wt {
  display: inline-block;
  width: 107px;
  height: 135px;
  background: url(../img/bigwt.svg) 0 0 no-repeat;
  background-size: contain;
  border-bottom: none;
}

a.big-vb {
  display: inline-block;
  width: 89px;
  height: 123px;
  background: url(../img/bigvb.svg) 0 0 no-repeat;
  background-size: contain;
  border-bottom: none;
}
.about .points--legend ul li{
  position: relative;
}
.about .points--legend ul li:before{
  content: '';
  display: block;
  position: absolute;
  left: -12px;
  top: 8px;
  width: 6px;
  height: 6px;
  background: #0bbc93;
  border-radius: 50%;
}

@media (max-width: 1500px) and (min-width: 1280px) {
  .main-page--blog .blog--item .pic {
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 660px) {
  .cat-block {
    width: 47.2%;
    height: 180px;
    padding: 15px;
    margin-bottom: 15px;
  }
  .cat-block .title {
    font-size: 13px;
  }
  .mobile--mainpage--categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pic-condensator {
    width: 125px;
    height: 149px;
  }
  .pic-tranzistor {
    width: 133px;
    height: 125px;
  }
  .pic-potenziometr {
    width: 134px;
    height: 124px;
  }
  .pic-rezistor {
    width: 199px;
    height: 105px;
  }
  .pic-microshema {
    width: 188px;
    height: 112px;
  }
  .pic-pereklyuchateli {
    width: 141px;
    height: 119px;
  }
  .pic-lampy {
    width: 138px;
    height: 129px;
  }

  .categories--btn-custom_wrapper {
    width: 47.2%;
    display: flex;
    align-items: center;
  }

  .main-page--categories_title {
    font-size: 20px;
    line-height: 26px;
  }
  .block-process .flex {
    flex-direction: column;
  }
  .block-process .desc {
    display: none;
  }
  .main-page--blog .flex {
    flex-direction: column;
    padding: 20px;
  }
  .main-page--blog .flex > div {
    margin-right: 0;
    margin-bottom: 15px;
    display: flex;
  }
  .main-page--blog .blog--item .pic {
    height: auto;
    min-width: 190px;
    display: block;
    width: 190px;
    line-height: 0;
    border-radius: 10px 0 0 10px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .blog--title{
    flex-direction: column;
  }
  .main-page--blog .blog--title{
    max-width: 200px;
  }
  .main-page--blog .blog--title h2{
    font-size: 32px;
  }
  .main-page--blog .btn-custom:after{
    background-size: contain;
    width: 29px;
    height: 21px;
    top: 13px;
  }
  .main-page--blog .blog--item .title{
    font-size: 18px;
    line-height: 23px;
  }
  .main-page--blog .blog--item .desc{
    display: none;
  }
  .block-hts h1 {
    margin-top: 20px;
  }
  .block-hts .h1_desc {
    display: none;
  }
  .block-hts .hts-3-blocks{
    margin-top: 20px;
  }
  .main-page--blog .blog--item .padded{
    padding: 10px 15px 15px;
  }
  .main-page-map .map_bubble{
    position: relative;
    right: auto;
  }
}

@media (min-width: 661px) and (max-width: 1024px) {
  .cat-block {
    width: 23%;
    height: 190px;
    padding: 15px;
    margin-bottom: 15px;
  }
  .cat-block .title {
    font-size: 13px;
  }
  .mobile--mainpage--categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0 2%;
  }
  .pic-condensator {
    width: 125px;
    height: 149px;
  }
  .pic-tranzistor {
    width: 133px;
    height: 125px;
  }
  .pic-potenziometr {
    width: 134px;
    height: 124px;
  }
  .pic-rezistor {
    width: 199px;
    height: 105px;
  }
  .pic-microshema {
    width: 188px;
    height: 112px;
  }
  .pic-pereklyuchateli {
    width: 141px;
    height: 119px;
  }
  .pic-lampy {
    width: 138px;
    height: 129px;
  }

  .categories--btn-custom_wrapper {
    width: 23%;
    display: flex;
    align-items: center;
  }

  .main-page--categories_title {
    font-size: 24px;
    line-height: 28px;
  }
  .block-process .flex {
    flex-direction: column;
  }
  .block-process .desc {
    max-width: 80%;
    margin: 0 auto;
  }
  .main-page--blog .flex {
    flex-direction: column;
    padding: 20px;
  }
  .main-page--blog .flex > div {
    margin-right: 0;
    margin-bottom: 15px;
    display: flex;
  }
  .main-page--blog .blog--item .pic {
    height: auto;
    min-width: 250px;
    display: block;
    width: 250px;
    line-height: 0;
    border-radius: 10px 0 0 10px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .blog--title{
    flex-direction: column;
  }
  .main-page--blog .blog--item .desc{
    display: block;
  }


}

@media (max-width: 440px) {
  .main-page--blog .flex {
    flex-direction: column;
    padding: 20px;
  }
  .main-page--blog .flex > div {
    margin-right: 0;
    margin-bottom: 15px;
    flex-direction: column;
  }
  .main-page--blog .blog--item .pic {
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .main-page--blog .blog--item .pic{
    width: 100%;
  }
  .main-page--blog .blog--item .title{
    font-size: 18px;
    line-height: 23px;
  }
  .main-page--blog .blog--item .desc{
    display: block;
  }
}

@media (min-width: 441px) and (max-width: 660px){
  .main-page-map .map_bubble{
    width: 90%;
    display: flex;
    right: 0;
    left: 0;
    margin-bottom: -40px;
    .pic{
      display: none;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1439px){
  .main-page--categories_title{
    font-size: 30px;
    line-height: 35px;
  }
  .cat-block{
    padding: 15px 15px 20px;
  }
  .cat-block .pic{
    background-position: left bottom;
    width: 90%;
    height: 90%;
  }
  .cat-block .title{
    font-size: 14px;
  }
  .block-hts .hts-3-blocks .custom-size--left, .block-hts .hts-3-blocks .custom-size--middle, .block-hts .hts-3-blocks .custom-size--right{
    width: 100%;
  }
  .main-page--blog .flex{
   //flex-wrap: wrap;
    padding: 25px 20px 25px 20px;
  }
  .main-page--blog .blog--item .padded{
    padding: 10px 15px 15px;
  }
  .main-page--blog .blog--item .title{
    font-size: 18px;
  }
  .main-page--blog .blog--item{
    width: 300px;
  }
  .main-page--blog .blog--item .pic{
    height: auto;
    line-height: 0;
    img{
      max-width: 100%;
      height: auto;
    }
  }
}
