body{
  background: #fff;
}

.breadcrumbs{
  align-self: flex-start;
  border: 2px solid rgba(#000,0.2);
  border-radius: 20px;
  padding: 2px 20px 1px;
  display: inline-block;
  margin-top: 20px;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      font-size: 14px;
      line-height: 14px;
      position: relative;
      padding-right: 26px;
      color: #000;
      margin-bottom: 5px;
      &:after{
        content: "";
        display: block;
        position: absolute;
        background: url('../img/breadcrumb-black.svg') 0 0 no-repeat;
        background-size: contain;
        width: 7px;
        height: 13px;
        right: 6px;
        top: 2px;
      }
      a{
        font-size: 14px;
        line-height: 14px;
        color: #000;
        border-bottom-color: rgba(#000,0.4);
      }
      &:last-child{
        padding-right: 0;
        &:after{
          display: none;
        }
      }
    }
  }
}

.woocommerce-page{
  .breadcrumbs{
    border: 2px solid rgba(#fff,0.5);
    li{
      color: #fff;
      a{
        color: #fff;
        border-bottom-color: rgba(#fff,0.4);
      }
      &:after{
        background: url('../img/breadcrumb.svg') 0 0 no-repeat;
        background-size: contain;
      }
    }
  }
}

.divide-2-1{
  display: flex;
  flex-direction: row;
}
.divide-2-1_left{
  width: 66%;
  margin-right: 2%;
}
.divide-2-1_right{
  width: 32%;
}






.pagenavi_w{
  border-top: 1px solid rgba(#5d687a,0.3);
  text-align: center;
  display: block;
  padding: 25px 0 35px;
  margin-top: 45px;
  .heading{
    font-size: 22px;
    font-family: $fmed;
    margin-bottom: 20px;
    color: #5d687a;
  }
}

.wp-pagenavi{
  display: flex;
  align-items: center;
  justify-content: center;

  .pages{
    display: none;
  }
  .page{
    border: 1px solid rgba(#5d687a,0.3);
    border-radius: 5px;
    background: #ffffff;
    padding: 20px;
    min-width: 57px;
    display: inline-block;
    margin: 0 4px;
    font-weight: bold;
    font-size: 17px;
    color: #0bbc93;
    &:hover{
      border: 1px solid rgba(#5d687a,1);
    }
  }
  .current{
    border: transparent;
    border-radius: 5px;
    background: #e2eaed;
    padding: 20px;
    min-width: 57px;
    display: inline-block;
    margin: 0 5px;
    font-weight: bold;
    font-size: 17px;
  }
  .nextpostslink{
    background: url('../img/pagenavi.svg') 0 0 no-repeat;
    width: 25px;
    height: 18px;
    font-size: 0;
    display: inline-block;
    margin-left: 5px;
    border: none;
    padding: 0;
  }
  .previouspostslink{
    background: url('../img/pagenavi.svg') 0 0 no-repeat;
    width: 25px;
    height: 18px;
    font-size: 0;
    display: inline-block;
    margin-right: 5px;
    transform: rotate(180deg);
    border: none;
    padding: 0;
  }
}


.pld-like-dislike-wrap{
  border-top: 1px solid rgba(#5d687a,0.3);
  text-align: center;
  display: block;
  padding: 25px 0 35px;
  margin-top: 80px;
  margin-bottom: 20px;
  position: relative;
  z-index: 6;
  .heading{
    font-size: 22px;
    font-family: $fmed;
    margin-bottom: 20px;
    color: #5d687a;
  }
}

.pld-common-wrap{
  border: 1px solid rgba(#5d687a,0.3);
  border-radius: 5px;
  font-size: 17px;
  padding: 20px;
  min-width: 57px;
  a{
    color: inherit;
    border-bottom: 1px solid #0bbc93 !important;
    font-size: 17px;
    font-family: $freg;
  }
}

.hidden_inputs{
  display: none;
}

.fancy_close{
  background: #fff;
  border-radius: 50%;
  opacity: 1;
  padding: 10px;
  right: -22px;
  top: -22px;
  position: absolute;
  width: 44px;
  height: 44px;
}
.fancybox-slide--image .fancy_close{
  right: 12px;
  top: 12px;
  z-index: 10;
  svg{
    pointer-events: none;
  }
}
@media (min-width: 660px) and (max-width: 1024px){
  .d-col-4{
    display: none;
  }
  .divide-2-1_left{
    width: 100%;
    margin-right: 0;
  }
  .divide-2-1_right{
    display: none;
  }
  .pld-like-dislike-wrap{
    padding-bottom: 0;
  }
  .pld-common-wrap a{
    font-size: 14px;
  }
  .pld-common-wrap{
    font-size: 13px;
    padding: 10px;
  }

}

@media (max-width: 660px) {
  .d-col-4{
    display: none;
  }
  .divide-2-1_left{
    width: 100%;
    margin-right: 0;
  }
  .divide-2-1_right{
    display: none;
  }
  .pld-like-dislike-wrap{
    padding-bottom: 0;
    margin-top: 30px;
    .heading{
      font-size: 18px;
    }
  }
  .pld-common-wrap a{
    font-size: 14px;
  }
  .pld-common-wrap{
    font-size: 13px;
    padding: 10px;
  }
  .breadcrumbs{
    margin-bottom: 20px;
    padding: 0 14px 0;
    &+h1{
      margin-top: 0;
    }
  }
  .breadcrumbs ul li{
    font-size: 12px;
    a{
      font-size: inherit;
    }
  }
  .breadcrumbs ul li:after{
    width: 6px;
    height: 11px;
    background-size: contain;
  }

}
