// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

$freg: "Stem-Regular", sans-serif;
$fmed: "Stem-Medium", sans-serif;


